In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.DataFrame([1,2,3],[4,5,6])
df

   0
4  1
5  2
6  3

In [21]:
data = ([[1,2],[1,2]])
df = pd.DataFrame(data)
df

   0  1
0  1  2
1  1  2

In [22]:
df = pd.DataFrame(np.array([[1,2],[4,5]]),index = ('data1','data2'))
df
print(df.info())
print(df.describe())
print(df.shape)
print(df.index)
print(df.dtypes)
print(df.ndim)

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, data1 to data2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      int64
 1   1       2 non-null      int64
dtypes: int64(2)
memory usage: 48.0+ bytes
None
             0        1
count  2.00000  2.00000
mean   2.50000  3.50000
std    2.12132  2.12132
min    1.00000  2.00000
25%    1.75000  2.75000
50%    2.50000  3.50000
75%    3.25000  4.25000
max    4.00000  5.00000
(2, 2)
Index(['data1', 'data2'], dtype='object')
0    int64
1    int64
dtype: object
2

In [24]:



data={
    name:["raj","amit","sumit"],
    age:[21,22,23],
    city:["delhi","mumbai","bangalore"]
}

df=pd.dataframe(data)



print(df["age"])
print(df[["age"],["city"]])
print(df.iloc[0])
print(df.loc[2,"age"])
print(df.iloc[2,1])

NameError: name 'name' is not defined