In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Movieratingdata1.csv")
print(df)
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [ ]:
# df.dropna(inplace=True)
# df.dropna(inplace=True,axis=1)
# df.dropna(inplace=True,how="any")
# df.dropna(inplace=True,how="all")
# print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [ ]:
# df.drop("MOVIE_TITLE",axis=1,inplace=True)
# print(df)

    USER_ID   MOVIE_ID PRODUCTION_YEAR  \
0       1.0    4642044            2015
2       3.0  not value            2014
3       4.0    1390411            2015
4       5.0    6306064   not available
5       6.0    6306064     not mension
6       7.0    2719848            2015
7       8.0     462504            2006
8       9.0        NaN            2020
9      10.0     163225            2015
10     11.0    1663202            2015
11     12.0    1663202            2021

                                               GENRES         RATING
0                                              Action            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [12]:
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
#df.fillna(value=0,inplace=True)
#df.fillna({"MOVIE_ID":0},inplace=True)
df.fillna({"MOVIE_ID":0,"PRODUCTION_YEAR":2000},inplace=True)
print(df)

    USER_ID MOVIE_ID PRODUCTION_YEAR  \
0       1.0  4642044            2015
2       3.0        0            2014
3       4.0  1390411            2015
4       5.0  6306064            2000
5       6.0  6306064            2000
6       7.0  2719848            2015
7       8.0   462504            2006
8       9.0        0            2020
9      10.0   163225            2015
10     11.0  1663202            2015
11     12.0  1663202            2021

                                               GENRES RATING
0                                              Action    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [ ]:
df["RATING"] = df["RATING"].astypes(float)
df["RATING"] = df["RATING"].fillna(df["RATING"].mean())

TypeError: 'numpy.dtypes.ObjectDType' object is not callable

: