In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("Movieratingdata1.csv")
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [12]:
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,NaN
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [20]:
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].astype(float)
df["RATING"] = df["RATING"].astype(float)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015.0,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,2014.0,NaN,NaN
3,4.0,1390411,NaN,2015.0,NaN,5.0
4,5.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4.0
5,6.0,6306064,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5.0
6,7.0,2719848,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504,NaN,2006.0,Action|Adventure|Biography|Drama|War,NaN
8,9.0,NaN,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10.0
9,10.0,163225,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9.0
10,11.0,1663202,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9.0
11,12.0,1663202,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6.0

In [ ]:
# print(df["PRODUCTION_YEAR"]>2015)
# data = df[df["PRODUCTION_YEAR"]>2015]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11     True
Name: PRODUCTION_YEAR, dtype: bool

In [23]:
data = df[(df["PRODUCTION_YEAR"]>2015) & (df["RATING"]>8)]
print(data)

   USER_ID MOVIE_ID MOVIE_TITLE  PRODUCTION_YEAR  \
8      9.0      NaN         NaN           2020.0

                                     GENRES  RATING
8  Action|Adventure|Biography|Drama|Western    10.0

In [24]:
data1 = df[df["GENRES"].str.contains("War",na=False)]
print(data1)

   USER_ID MOVIE_ID MOVIE_TITLE  PRODUCTION_YEAR  \
7      8.0   462504         NaN           2006.0

                                 GENRES  RATING
7  Action|Adventure|Biography|Drama|War     NaN