In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Movieratingdata1.csv")
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [4]:
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0  4642044          Riot             2015
1       NaN      NaN            NaN             NaN
2       3.0      NaN            NaN            2014
3       4.0  1390411            NaN            2015
4       5.0  6306064            NaN             NaN
5       6.0  6306064            NaN             NaN
6       7.0  2719848            NaN            2015
7       8.0   462504            NaN            2006
8       9.0      NaN            NaN            2020
9      10.0   163225  The Revenant             2015
10     11.0  1663202            NaN            2015
11     12.0  1663202  The Revenant             2021

                                               GENRES RATING
0                                              Action    NaN
1                                                 NaN    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [7]:
df.fillna(0,inplace=True)
#print(df)
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].astype(int)
df["RATING"] = df["RATING"].astype(float)
df["MOVIE_TITLE"] = df["MOVIE_TITLE"].astype(str)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,0.0
1,0.0,0,0,0,0,0.0
2,3.0,0,0,2014,0,0.0
3,4.0,1390411,0,2015,0,5.0
4,5.0,6306064,0,0,Action|Adventure|Biography|Drama|Romance|Thriller,4.0
5,6.0,6306064,0,0,Action|Adventure|Biography|Drama|Romance|Thriller,5.0
6,7.0,2719848,0,2015,Action|Adventure|Biography|Drama|Thriller,0.0
7,8.0,462504,0,2006,Action|Adventure|Biography|Drama|War,0.0
8,9.0,0,0,2020,Action|Adventure|Biography|Drama|Western,10.0
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9.0
10,11.0,1663202,0,2015,Action|Adventure|Biography|Drama|Western,9.0
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6.0

In [8]:
x = df["MOVIE_TITLE"].apply(len)
print(x)

0      5
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9     13
10     1
11    13
Name: MOVIE_TITLE, dtype: int64

In [9]:
df["MOVIE_REVIEW"] = df["RATING"].apply(lambda x: "good" if x>6 else "bad")
#print(df)

In [10]:
df["MOVIE_UPPER"] = df["MOVIE_TITLE"].apply(lambda x: x.upper() if x!=0 else "")
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0  4642044          Riot              2015
1       0.0        0              0                0
2       3.0        0              0             2014
3       4.0  1390411              0             2015
4       5.0  6306064              0                0
5       6.0  6306064              0                0
6       7.0  2719848              0             2015
7       8.0   462504              0             2006
8       9.0        0              0             2020
9      10.0   163225  The Revenant              2015
10     11.0  1663202              0             2015
11     12.0  1663202  The Revenant              2021

                                               GENRES  RATING MOVIE_REVIEW  \
0                                              Action     0.0          bad
1                                                   0     0.0          bad
2                                                   0     0.0          bad
3                                                   0     5.0          bad
4   Action|Adventure|Biography|Drama|Romance|Thriller     4.0          bad
5   Action|Adventure|Biography|Drama|Romance|Thriller     5.0          bad
6           Action|Adventure|Biography|Drama|Thriller     0.0          bad
7                Action|Adventure|Biography|Drama|War     0.0          bad
8            Action|Adventure|Biography|Drama|Western    10.0         good
9            Action|Adventure|Biography|Drama|Western     9.0         good
10           Action|Adventure|Biography|Drama|Western     9.0         good
11           Action|Adventure|Biography|Drama|Western     6.0          bad

      MOVIE_UPPER
0           RIOT
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9   THE REVENANT
10              0
11  THE REVENANT

In [11]:
people1 = {"First":["hardik","amit","sumit","raj"],
"Last":["shah","patel","thakkar","shah"],
"Email":["hardik","amit","sumit","raj"]}

df = pd.DataFrame(people1)
#print(df)
df["Full Name"] = df["First"] + " "+ df["Last"]
#print(df)

#df.drop
df.drop(columns=["First","Last"],inplace=True)
#print(df)

df[["First","Last"]] = df["Full Name"].str.split(" ",expand=True)
#print(df)


x = df.pop("Full Name")
print(x)
print(df)

0      hardik shah
1       amit patel
2    sumit thakkar
3         raj shah
Name: Full Name, dtype: object
    Email   First     Last
0  hardik  hardik     shah
1    amit    amit    patel
2   sumit   sumit  thakkar
3     raj     raj     shah

In [12]:
df1 = pd.DataFrame({"Fruit":["apple","banana","orange","grape"],"Market_Price":[100,40,80,60]})
df2 = pd.DataFrame({"Fruit":["apple","banana","grape","kiwi"],"Shop_Price":[120,50,90,70]})


#x = pd.merge(df1,df2,on="Fruit",how="inner")
#x = pd.merge(df1,df2,on="Fruit",how="outer")
#x = pd.merge(df1,df2,on="Fruit",how="left")
x = pd.merge(df1,df2,on="Fruit",how="right")
print(x)

    Fruit  Market_Price  Shop_Price
0   apple         100.0         120
1  banana          40.0          50
2   grape          60.0          90
3    kiwi           NaN          70

In [14]:
df1 = pd.DataFrame({"Fruit":["apple","banana","orange","grape"],"vegitables":["potato","tomato","ladyfinger","carrot"],"Market_Price":[100,40,80,60]})
df2 = pd.DataFrame({"Fruit":["apple","banana","grape","kiwi"],"vegitables":["potato","tomato","cabbage","carrot"],"Shop_Price":[120,50,90,70]})



#x = pd.merge(df1,df2,on=["Fruit","vegitables"],how="inner")
x = pd.merge(df1,df2,on="vegitables",how="inner")
x

  Fruit_x vegitables  Market_Price Fruit_y  Shop_Price
0   apple     potato           100   apple         120
1  banana     tomato            40  banana          50
2   grape     carrot            60    kiwi          70