In [1]:
import pandas as pd

In [2]:
user = pd.Series([21,22,23,24,25],index=['xx','yy','zz','nn','ll'])
print(user.sample())

nn    24
dtype: int64

In [4]:
print(user+1)
print(user-1)
print(user*1)
print(user/1)

xx    22
yy    23
zz    24
nn    25
ll    26
dtype: int64
xx    20
yy    21
zz    22
nn    23
ll    24
dtype: int64
xx    21
yy    22
zz    23
nn    24
ll    25
dtype: int64
xx    21.0
yy    22.0
zz    23.0
nn    24.0
ll    25.0
dtype: float64

In [14]:
user1 = pd.Series([21,22,23,24,25],index=['xx','yy','zz','nn','ll'])
user2= pd.Series([21,22,23,24,25],index=['xx','yy','zz','nn','l'])
print(user1+user2)

l      NaN
ll     NaN
nn    48.0
xx    42.0
yy    44.0
zz    46.0
dtype: float64

In [13]:
user11 = pd.Series([21,22,23,24,25],index=['xx','yy','zz','nn','ll'])
user22 = pd.Series([21,22,23,24,25],index=['xx','yy','zz','nn','l'])
result = (user11).add(user22,fill_value=0)
print(result)
result1 = (user11).sub(user22,fill_value=0)
print(result1)
result2 = (user11).mul(user22,fill_value=0)
print(result2)
result3 = (user11).div(user22,fill_value=0)
print(result3)

l     25.0
ll    25.0
nn    48.0
xx    42.0
yy    44.0
zz    46.0
dtype: float64
l    -25.0
ll    25.0
nn     0.0
xx     0.0
yy     0.0
zz     0.0
dtype: float64
l       0.0
ll      0.0
nn    576.0
xx    441.0
yy    484.0
zz    529.0
dtype: float64
l     0.0
ll    inf
nn    1.0
xx    1.0
yy    1.0
zz    1.0
dtype: float64