In [5]:
import pandas as pd

In [6]:
s = pd.Series([1,2,3,4,5])
print(s)
print(s.min)
print(s.max)
print(s.sum)
print(s.count)
print(s.var)
print(s.mean)
print(s.std)

0    1
1    2
2    3
3    4
4    5
dtype: int64
<bound method Series.min of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
<bound method Series.max of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
<bound method Series.sum of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
<bound method Series.count of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
<bound method Series.var of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
<bound method Series.mean of 0    1
1    2
2    3
3    4
4    5
dtype: int64>
<bound method Series.std of 0    1
1    2
2    3
3    4
4    5
dtype: int64>

In [7]:
s = pd.Series([1,2,3,4,5,None,0,None,50])
print(s)

print(s.isnull().sum())
print(s.notnull().sum())

# print(s.fillna(0))
print(s.dropna())

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     0.0
7     NaN
8    50.0
dtype: float64
2
7
0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
6     0.0
8    50.0
dtype: float64

In [8]:
s = pd.Series([1,2,3,4,5,18,30,25,50])
print(s.sort_values())
print(s.sort_values(ascending=True))

print(s.sort_index())
print(s.sort_index(ascending=True))

0     1
1     2
2     3
3     4
4     5
5    18
7    25
6    30
8    50
dtype: int64
0     1
1     2
2     3
3     4
4     5
5    18
7    25
6    30
8    50
dtype: int64
0     1
1     2
2     3
3     4
4     5
5    18
6    30
7    25
8    50
dtype: int64
0     1
1     2
2     3
3     4
4     5
5    18
6    30
7    25
8    50
dtype: int64

In [11]:
s = pd.Series([10,20,30,40])
print(s)

s1 = s.apply(lambda x:x*2)
s1

0    10
1    20
2    30
3    40
dtype: int64

0    20
1    40
2    60
3    80
dtype: int64

In [12]:
s = pd.Series([10,20,30,40])
print(s)

s1 = s.map(lambda x:x*2)
s1

0    10
1    20
2    30
3    40
dtype: int64

0    20
1    40
2    60
3    80
dtype: int64

In [27]:
s = pd.Series(['apple','banana','cherry',12])
print(s)

s = s.str.upper()
print(s)

s = s.str.lower()
print(s)

s = s.str.startswith("a")
print(s)

0     apple
1    banana
2    cherry
3        12
dtype: object
0     APPLE
1    BANANA
2    CHERRY
3       NaN
dtype: object
0     apple
1    banana
2    cherry
3       NaN
dtype: object
0     True
1    False
2    False
3      NaN
dtype: object