In [111]:
import pandas as pd

In [112]:
# 1Ô∏è‚É£ Create a Series from [10, 20, 30, 40].

s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [113]:

# 2Ô∏è‚É£ Create a Series with values [5, 6, 7] and index ["a","b","c"].
ss = pd.Series([5, 6, 7],index=["a","b","c"])
print(ss)

a    5
b    6
c    7
dtype: int64

In [114]:

# 3Ô∏è‚É£ Create a Series from dictionary:

# {"Math": 85, "Sci": 90, "Eng": 88}

m = pd.Series(['85','90','88'],index=["maths","sci","eng"])
print(m)

maths    85
sci      90
eng      88
dtype: object

In [115]:
# 4Ô∏è‚É£ Create a Series with scalar value 100 repeated for 5 indices.
s = pd.Series(100, index=['a','b','c','d','e'])
print(s)

a    100
b    100
c    100
d    100
e    100
dtype: int64

In [116]:
# 5Ô∏è‚É£ Print first 3 values of a Series.
s.head(3)

a    100
b    100
c    100
dtype: int64

In [117]:
# 6Ô∏è‚É£ Print last 2 values.
s.tail(2)

d    100
e    100
dtype: int64

In [118]:
# 7Ô∏è‚É£ Get the datatype of a Series.
s.dtype

dtype('int64')

In [119]:
# 8Ô∏è‚É£ Find number of elements in Series.
s.size

5

In [120]:

# 9Ô∏è‚É£ Select value using label "b".
s['b']

np.int64(100)

In [121]:

# üîü Select value using position 2.
s.iloc[2]

np.int64(100)

In [122]:
# 1Ô∏è‚É£1Ô∏è‚É£ Slice first 4 elements.
s[:4]

a    100
b    100
c    100
d    100
dtype: int64

In [123]:
# 1Ô∏è‚É£2Ô∏è‚É£ Filter values greater than 50.
s[s > 50]

a    100
b    100
c    100
d    100
e    100
dtype: int64

In [124]:
# 1Ô∏è‚É£3Ô∏è‚É£ Replace value 20 with 200.
s = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s.replace(20, 200)

a     10
b    200
c     30
d     40
e     50
dtype: int64

In [125]:
# 1Ô∏è‚É£4Ô∏è‚É£ Rename index "a" to "alpha".
s.rename(index={'a': 'alpha'})

alpha    10
b        20
c        30
d        40
e        50
dtype: int64

In [126]:
# 1Ô∏è‚É£5Ô∏è‚É£ Sort a Series by values.


s.sort_values()

a    10
b    20
c    30
d    40
e    50
dtype: int64

# üü° MEDIUM LEVEL (16‚Äì30)

In [127]:
# 1Ô∏è‚É£6Ô∏è‚É£ Add 10 to every element in Series.
s2 = pd.Series([10, 20, 30, 40, 50], index=['a','b','c','d','e'])
s2 + 10

a    20
b    30
c    40
d    50
e    60
dtype: int64

In [128]:
# 1Ô∏è‚É£7Ô∏è‚É£ Multiply two Series together.
s * s2

a     100
b     400
c     900
d    1600
e    2500
dtype: int64

In [129]:

# 1Ô∏è‚É£8Ô∏è‚É£ Find sum of Series.
s2.sum()

np.int64(150)

In [130]:

# 1Ô∏è‚É£9Ô∏è‚É£ Find mean of values.
s2.mean()

np.float64(30.0)

In [131]:
# 2Ô∏è‚É£0Ô∏è‚É£ Find median.
s2.median()

30.0

In [132]:

# 2Ô∏è‚É£1Ô∏è‚É£ Find standard deviation.
s2.std()

15.811388300841896

In [133]:
# 2Ô∏è‚É£2Ô∏è‚É£ Count non-null values.
s3 = pd.Series([10, 20, 30, None, 50], index=['a','b','c','d','e'])
s3.notnull().sum()

np.int64(4)

In [134]:

# 2Ô∏è‚É£3Ô∏è‚É£ Replace missing values with 0.
s3.fillna(0)

a    10.0
b    20.0
c    30.0
d     0.0
e    50.0
dtype: float64

In [135]:

# 2Ô∏è‚É£4Ô∏è‚É£ Drop missing values.
s4 = pd.Series([10, 20, 20, None, 50], index=['a','b','c','d','e'])
s4.dropna()

a    10.0
b    20.0
c    20.0
e    50.0
dtype: float64

In [136]:
# 2Ô∏è‚É£5Ô∏è‚É£ Get top 3 largest values.
s4.nlargest(3)

e    50.0
b    20.0
c    20.0
dtype: float64

In [137]:
# 2Ô∏è‚É£6Ô∏è‚É£ Get 2 smallest values.
s4.nsmallest(2)

a    10.0
b    20.0
dtype: float64

In [138]:

# 2Ô∏è‚É£7Ô∏è‚É£ Apply lambda to square each value.
s4.apply(lambda x:x**2)

a     100.0
b     400.0
c     400.0
d       NaN
e    2500.0
dtype: float64

In [139]:

# 2Ô∏è‚É£8Ô∏è‚É£ Count frequency of unique values.
s4.value_counts()

20.0    2
10.0    1
50.0    1
Name: count, dtype: int64

In [140]:
# 2Ô∏è‚É£9Ô∏è‚É£ Reindex Series to include new label "z".

In [141]:
# 3Ô∏è‚É£0Ô∏è‚É£ Calculate cumulative sum of Series.