In [120]:
import pandas as pd 
import numpy as np

In [121]:
# 1Ô∏è‚É£ Load Dataset

# Load Movieratingdata1.csv and show all rows & columns.
df = pd.read_csv("Movieratingdata1.csv")
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN        NaN            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0        NaN            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [122]:
# 2Ô∏è‚É£ Custom Missing Values

# While loading, treat
# "not available" and "not mension" as NaN in PRODUCTION_YEAR.
df = pd.read_csv("Movieratingdata1.csv",na_values={"PRODUCTION_YEAR":["not available","not mension"]})
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0    4642044          Riot            2015.0
1       NaN        NaN            NaN              NaN
2       3.0  not value            NaN           2014.0
3       4.0    1390411            NaN           2015.0
4       5.0    6306064            NaN              NaN
5       6.0    6306064            NaN              NaN
6       7.0    2719848            NaN           2015.0
7       8.0     462504            NaN           2006.0
8       9.0        NaN            NaN           2020.0
9      10.0     163225  The Revenant            2015.0
10     11.0    1663202            NaN           2015.0
11     12.0    1663202  The Revenant            2021.0

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [123]:
# 3Ô∏è‚É£ Replace Text Missing Values

# Replace "not available", "not mension", "not value" in whole dataframe with np.nan.
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0  4642044          Riot            2015.0
1       NaN      NaN            NaN              NaN
2       3.0      NaN            NaN           2014.0
3       4.0  1390411            NaN           2015.0
4       5.0  6306064            NaN              NaN
5       6.0  6306064            NaN              NaN
6       7.0  2719848            NaN           2015.0
7       8.0   462504            NaN           2006.0
8       9.0      NaN            NaN           2020.0
9      10.0   163225  The Revenant            2015.0
10     11.0  1663202            NaN           2015.0
11     12.0  1663202  The Revenant            2021.0

                                               GENRES RATING
0                                              Action    NaN
1                                                 NaN    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [124]:

# 4Ô∏è‚É£ Count Total Missing Values

# Find total number of missing values in the dataset.
print(df.isnull().sum().sum())

24

In [125]:

# 5Ô∏è‚É£ Column-wise Missing Count

# Show missing values count for each column.
print(df.isnull().sum())

USER_ID            1
MOVIE_ID           3
MOVIE_TITLE        9
PRODUCTION_YEAR    3
GENRES             3
RATING             5
dtype: int64

In [126]:
# 6Ô∏è‚É£ Drop Rows Where All Values Missing

# Remove rows where every column is NaN.
df.dropna(how="all", inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0  4642044          Riot            2015.0
2       3.0      NaN            NaN           2014.0
3       4.0  1390411            NaN           2015.0
4       5.0  6306064            NaN              NaN
5       6.0  6306064            NaN              NaN
6       7.0  2719848            NaN           2015.0
7       8.0   462504            NaN           2006.0
8       9.0      NaN            NaN           2020.0
9      10.0   163225  The Revenant            2015.0
10     11.0  1663202            NaN           2015.0
11     12.0  1663202  The Revenant            2021.0

                                               GENRES RATING
0                                              Action    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [127]:
# 7Ô∏è‚É£ Drop Columns with Any Missing Value

# Remove columns that contain at least one NaN.
df.dropna(inplace=True,axis=1)
print(df)

    USER_ID
0       1.0
2       3.0
3       4.0
4       5.0
5       6.0
6       7.0
7       8.0
8       9.0
9      10.0
10     11.0
11     12.0

In [128]:
# 8Ô∏è‚É£ Fill Missing Movie ID

# Fill missing MOVIE_ID with 0.
df = pd.read_csv("Movieratingdata1.csv")

df.fillna({"MOVIE_ID":0},inplace=True)
print(df)

    USER_ID   MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0    4642044          Riot             2015
1       NaN          0            NaN             NaN
2       3.0  not value            NaN            2014
3       4.0    1390411            NaN            2015
4       5.0    6306064            NaN   not available
5       6.0    6306064            NaN     not mension
6       7.0    2719848            NaN            2015
7       8.0     462504            NaN            2006
8       9.0          0            NaN            2020
9      10.0     163225  The Revenant             2015
10     11.0    1663202            NaN            2015
11     12.0    1663202  The Revenant             2021

                                               GENRES         RATING
0                                              Action            NaN
1                                                 NaN            NaN
2                                                 NaN            NaN
3                                                 NaN              5
4   Action|Adventure|Biography|Drama|Romance|Thriller              4
5   Action|Adventure|Biography|Drama|Romance|Thriller              5
6           Action|Adventure|Biography|Drama|Thriller  not available
7                Action|Adventure|Biography|Drama|War    not mension
8            Action|Adventure|Biography|Drama|Western             10
9            Action|Adventure|Biography|Drama|Western              9
10           Action|Adventure|Biography|Drama|Western              9
11           Action|Adventure|Biography|Drama|Western              6

In [129]:
# 9Ô∏è‚É£ Fill Missing Production Year

# Replace missing PRODUCTION_YEAR with 2000.
df.replace(["not available","not mension","not value"],np.nan,inplace=True)
df.fillna({"PRODUCTION_YEAR":2000},inplace=True)
print(df)

    USER_ID MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0  4642044          Riot             2015
1       NaN        0            NaN            2000
2       3.0      NaN            NaN            2014
3       4.0  1390411            NaN            2015
4       5.0  6306064            NaN            2000
5       6.0  6306064            NaN            2000
6       7.0  2719848            NaN            2015
7       8.0   462504            NaN            2006
8       9.0        0            NaN            2020
9      10.0   163225  The Revenant             2015
10     11.0  1663202            NaN            2015
11     12.0  1663202  The Revenant             2021

                                               GENRES RATING
0                                              Action    NaN
1                                                 NaN    NaN
2                                                 NaN    NaN
3                                                 NaN      5
4   Action|Adventure|Biography|Drama|Romance|Thriller      4
5   Action|Adventure|Biography|Drama|Romance|Thriller      5
6           Action|Adventure|Biography|Drama|Thriller    NaN
7                Action|Adventure|Biography|Drama|War    NaN
8            Action|Adventure|Biography|Drama|Western     10
9            Action|Adventure|Biography|Drama|Western      9
10           Action|Adventure|Biography|Drama|Western      9
11           Action|Adventure|Biography|Drama|Western      6

In [130]:
# üîü Fill Missing Ratings with Mean

# Convert RATING to float and fill missing values using average rating.
df["RATING"] = df["RATING"].astype(float)
df["RATING"] = df["RATING"].fillna(df["RATING"].mean())
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,6.857143
1,NaN,0,NaN,2000,NaN,6.857143
2,3.0,NaN,NaN,2014,NaN,6.857143
3,4.0,1390411,NaN,2015,NaN,5.000000
4,5.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,NaN,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,NaN,2020,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [131]:
# 1Ô∏è‚É£1Ô∏è‚É£ Replace Wrong Entry

# Replace "1390411" with "The Batman".
df.replace('1390411','The Batman',inplace=True)
print(df)

    USER_ID    MOVIE_ID    MOVIE_TITLE PRODUCTION_YEAR  \
0       1.0     4642044          Riot             2015
1       NaN           0            NaN            2000
2       3.0         NaN            NaN            2014
3       4.0  The Batman            NaN            2015
4       5.0     6306064            NaN            2000
5       6.0     6306064            NaN            2000
6       7.0     2719848            NaN            2015
7       8.0      462504            NaN            2006
8       9.0           0            NaN            2020
9      10.0      163225  The Revenant             2015
10     11.0     1663202            NaN            2015
11     12.0     1663202  The Revenant             2021

                                               GENRES     RATING
0                                              Action   6.857143
1                                                 NaN   6.857143
2                                                 NaN   6.857143
3                                                 NaN   5.000000
4   Action|Adventure|Biography|Drama|Romance|Thriller   4.000000
5   Action|Adventure|Biography|Drama|Romance|Thriller   5.000000
6           Action|Adventure|Biography|Drama|Thriller   6.857143
7                Action|Adventure|Biography|Drama|War   6.857143
8            Action|Adventure|Biography|Drama|Western  10.000000
9            Action|Adventure|Biography|Drama|Western   9.000000
10           Action|Adventure|Biography|Drama|Western   9.000000
11           Action|Adventure|Biography|Drama|Western   6.000000

In [132]:
# 1Ô∏è‚É£2Ô∏è‚É£ Rename Columns

# Rename columns to lowercase.
# df.columns = df.columns.str.lower()
# df

In [133]:
# 1Ô∏è‚É£3Ô∏è‚É£ Change Data Type

# Convert PRODUCTION_YEAR to integer.
df["PRODUCTION_YEAR"] = df["PRODUCTION_YEAR"].astype(int)
print(df)

    USER_ID    MOVIE_ID    MOVIE_TITLE  PRODUCTION_YEAR  \
0       1.0     4642044          Riot              2015
1       NaN           0            NaN             2000
2       3.0         NaN            NaN             2014
3       4.0  The Batman            NaN             2015
4       5.0     6306064            NaN             2000
5       6.0     6306064            NaN             2000
6       7.0     2719848            NaN             2015
7       8.0      462504            NaN             2006
8       9.0           0            NaN             2020
9      10.0      163225  The Revenant              2015
10     11.0     1663202            NaN             2015
11     12.0     1663202  The Revenant              2021

                                               GENRES     RATING
0                                              Action   6.857143
1                                                 NaN   6.857143
2                                                 NaN   6.857143
3                                                 NaN   5.000000
4   Action|Adventure|Biography|Drama|Romance|Thriller   4.000000
5   Action|Adventure|Biography|Drama|Romance|Thriller   5.000000
6           Action|Adventure|Biography|Drama|Thriller   6.857143
7                Action|Adventure|Biography|Drama|War   6.857143
8            Action|Adventure|Biography|Drama|Western  10.000000
9            Action|Adventure|Biography|Drama|Western   9.000000
10           Action|Adventure|Biography|Drama|Western   9.000000
11           Action|Adventure|Biography|Drama|Western   6.000000

In [134]:
# 1Ô∏è‚É£4Ô∏è‚É£ Remove Duplicate Rows

# Delete duplicate rows from dataset.
# df.drop_duplicates(inplace=True)
# df

In [135]:

# 1Ô∏è‚É£5Ô∏è‚É£ Show Data Types

# Display datatype of each column.
print(df.dtypes)

USER_ID            float64
MOVIE_ID            object
MOVIE_TITLE         object
PRODUCTION_YEAR      int64
GENRES              object
RATING             float64
dtype: object

In [ ]:
# 1Ô∏è‚É£6Ô∏è‚É£ Reset Index

# Reset the dataframe index after cleaning.
df.reset_index(inplace=True , drop=True)

:

In [137]:
# 1Ô∏è‚É£7Ô∏è‚É£ Drop Movie Title Column

# Remove MOVIE_TITLE column.
df.drop(columns=["MOVIE_TITLE"], inplace=True)
df

,USER_ID,MOVIE_ID,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,2015,Action,6.857143
1,NaN,0,2000,NaN,6.857143
2,3.0,NaN,2014,NaN,6.857143
3,4.0,The Batman,2015,NaN,5.000000
4,5.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,2006,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,2020,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,2015,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [141]:

# 1Ô∏è‚É£8Ô∏è‚É£ Fill All Remaining NaNs

# Fill all remaining NaN values with "Unknown"
df.fillna("Unknown", inplace=True)
df

,USER_ID,MOVIE_ID,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,2015,Action,6.857143
1,Unknown,0,2000,Unknown,6.857143
2,3.0,Unknown,2014,Unknown,6.857143
3,4.0,The Batman,2015,Unknown,5.000000
4,5.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,4.000000
5,6.0,6306064,2000,Action|Adventure|Biography|Drama|Romance|Thriller,5.000000
6,7.0,2719848,2015,Action|Adventure|Biography|Drama|Thriller,6.857143
7,8.0,462504,2006,Action|Adventure|Biography|Drama|War,6.857143
8,9.0,0,2020,Action|Adventure|Biography|Drama|Western,10.000000
9,10.0,163225,2015,Action|Adventure|Biography|Drama|Western,9.000000
10,11.0,1663202,2015,Action|Adventure|Biography|Drama|Western,9.000000
11,12.0,1663202,2021,Action|Adventure|Biography|Drama|Western,6.000000

In [142]:
# 1Ô∏è‚É£9Ô∏è‚É£ Describe Dataset

# Show summary statistics of numeric columns.
df.describe

<bound method NDFrame.describe of     USER_ID    MOVIE_ID  PRODUCTION_YEAR  \
0       1.0     4642044             2015
1   Unknown           0             2000
2       3.0     Unknown             2014
3       4.0  The Batman             2015
4       5.0     6306064             2000
5       6.0     6306064             2000
6       7.0     2719848             2015
7       8.0      462504             2006
8       9.0           0             2020
9      10.0      163225             2015
10     11.0     1663202             2015
11     12.0     1663202             2021

                                               GENRES     RATING
0                                              Action   6.857143
1                                             Unknown   6.857143
2                                             Unknown   6.857143
3                                             Unknown   5.000000
4   Action|Adventure|Biography|Drama|Romance|Thriller   4.000000
5   Action|Adventure|Biography|Drama|Romance|Thriller   5.000000
6           Action|Adventure|Biography|Drama|Thriller   6.857143
7                Action|Adventure|Biography|Drama|War   6.857143
8            Action|Adventure|Biography|Drama|Western  10.000000
9            Action|Adventure|Biography|Drama|Western   9.000000
10           Action|Adventure|Biography|Drama|Western   9.000000
11           Action|Adventure|Biography|Drama|Western   6.000000  >